body {
    font-family: arial,sans-serif;
    font-size: 15px;
}

#template {
    display: grid;
    min-width: 500px;
    grid-template:
        "header" 4fr
        "content" 4fr
        "footer" 1fr
        / 100%;
}

#header {
    grid-area: header;
    text-align: right;
}

#content {
    grid-area: content;
    text-align: center;
}

#searchengine {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 35px;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#q{
    width: 400px;
    height: 90%; 
    border: none;
    outline: none;
    box-shadow: none;
}

#clear {
    height: 90%;
    outline: none;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.5);
}


.button {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    background-color: #f2f2f2;
    color: #5F6368;
    font-size: 15px;
}

.button:hover {
    border: solid 1px;
    border-color: grey;
}

.button:focus {
    outline: none;
    border: solid 1px;
    border-color: blue;
}

/*Google Image*/
#logo-subtext {
    position: relative;
    left: 100px;
    bottom: 20px;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
}

.other-search-engine, #back {
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

.other-search-engine:hover, #back:hover {
    text-decoration: underline;
}